{% assign education = site.data.data.education %}
{% if education %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ education.title }}
  </h2>
  
  {% for graduation in education.graduations %}
  <div class="item">
    <li>{{ graduation.degree }}</li>
    <div class="publication-authors">{{ graduation.time }}</div>
    <div class="publication-conference">{{ graduation.university }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
